@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff")
    format("woff");
  font-style: normal;
}

html {
  font-size: 62.5%;
}

/* Mobile view size*/
@media (max-width: 890px) {
  html {
    font-size: 50%;
  }

  .comment-list {
    width: 100%;
    min-height: 18rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: #e3e3e3;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1.4rem;
  }
  .comment-list .new-commnet button {
    font-size: 1.2rem;
  }
  .top-navigation-inner {
    width: 100%;
  }
}

/* Web view size */
@media (min-width: 891px) {
  html {
    font-size: 62.5%;
  }
  .top-navigation-inner {
    min-width: 80rem;
  }
  .post-item {
    width: 80rem;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Pretendard";
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* place-items: center; */
  font-size: 1.6rem;
  padding-top: 9.4rem;
}

* {
  box-sizing: border-box;
}

/* 기본 page */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: blanchedalmond;
  flex-grow: 1;
  line-height: 1.5;
}
.home-page .welcome {
}
.home-page .descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-navigation {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  height: 9.4rem;
}
.top-navigation-inner {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.top-navigation-main {
  font-size: 2rem;
  font-weight: 400;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.list-bg {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  flex-grow: 1;
  overflow: scroll;
}

.post-list {
  margin: 0 auto;
}

.post-item {
  background-color: #fff;
  opacity: 1;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-bottom: 4.8rem;
  border-bottom: 1px solid #eee;
  margin-top: 4.8rem;
}

.post-item .author {
  font-size: 1.4rem;
  color: #555555;
}

.post-item h4 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}

.post-item p {
  color: grey;
  margin: 0.5rem 0rem;
  margin-top: 1.2rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-item .post-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.post-item .post-item-title a h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.post-item .post-item-title .button-pannel {
  display: flex;
  opacity: 1;
  transition: all 1s;
}

.date {
  font-size: 1.4rem;
  color: grey;
}

.icon-pencil,
.icon-trash,
.icon-write {
  width: 2.8rem;
  margin-right: 0.4rem;
  cursor: pointer;
}

.form-container {
  box-sizing: border-box;
  max-width: 100rem;
  height: auto;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 1;
}

.form-container .header {
  font-size: 3.6rem;
}

.form-container form input,
textarea {
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
  box-sizing: border-box;
}

.form-container .check-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.form-container .check-email input {
  width: fit-content;
  flex-grow: 1;
}
.form-container .check-email button {
  margin-bottom: 0.8rem;
}

.form-container form textarea {
  height: 30rem;
  resize: none;
}

.form-container button {
  width: fit-content;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  border: 0;
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.modal-container {
  width: 100%;
  max-height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.nav-buttons .nav-button {
  width: fit-content;
  padding: 0.4rem 0.8rem;
  background-color: #41b77b;
  border: 0.1rem solid #41b77b;
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  border-radius: 0.4rem;
  cursor: pointer;
}
.nav-buttons .nav-button:hover {
  background-color: #ffffff;
  color: #41b77b;
}
.nav-button.white {
  background-color: white;
  color: #41b77b;
}

/* detail page  */
.detail-page {
  padding: 2rem 3rem 2rem 3rem;
  background-color: rgb(238, 238, 238);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 10%;
  gap: 0.8rem;
}
.detail-page .author {
  padding: 0 0.8rem;
  font-size: 1.4rem;
}
.detail-page > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0 0.6rem;
}
.detail-page .detail-content {
  flex-grow: 1;
  overflow: scroll;
  white-space: break-spaces;
  border-radius: 0.8rem;
  background-color: white;
}

.detail-page .detail-content div {
  padding: 2rem;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
}

/* CommentList 컴포넌트 */
.comment-list {
  width: 100%;
  height: 20rem;
  padding: 2rem 2rem 1rem 2rem;
  box-sizing: border-box;
  background-color: #e3e3e3;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-comment {
  min-width: 60%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.new-comment input {
  flex-grow: 1;
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
}

.new-comment button {
  width: fit-content;
  padding: 0.8rem 1.2rem;
  background-color: #41b77b;
  border: 0.1rem solid #41b77b;
  border: none;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.new-comment button:hover {
  background-color: #41b77ab7;
  color: #fff;
}

.comments {
  overflow: scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.comments .comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.comments .comment .writer {
  width: 10rem;
  max-width: 5rem;
  min-width: fit-content;
  color: #515151;
}
.comments .comment .text {
  flex-grow: 1;
}
.comments .comment .date-info {
  color: #9d9d9d;
  font-size: 1.2rem;
}

.like-button {
  background-color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid grey;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.like-button:hover {
  border: 0.1rem solid rgb(255, 99, 99);
  background-color: rgb(255, 218, 218);
  color: black;
}

.selected {
  background-color: rgb(255, 99, 99);
  color: white;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 0.4rem;
}

/* Loader component */
.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container.sm .spinner {
  width: 2rem;
  background-size: 0.6rem 0.6rem;
}

.spinner {
  width: 5rem;
  aspect-ratio: 1;
  --_c: radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}

/* my page view */
.list-bg.my-page {
  background-color: rgba(255, 235, 205, 0.519);
  padding: 2.2rem;
}
.my-page .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}
.my-page .header .title {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
.my-page .header .nav-buttons .nav-button {
  font-size: 1.2rem;
}
.list-bg.my-page .nav-buttons {
  justify-content: end;
  margin-top: 0.8rem;
}

/* footer */
.footer {
  margin: 10rem auto 0;
  padding: 24px 0;
}
