@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff")
    format("woff");
  font-style: normal;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Pretendard";
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* place-items: center; */
}

* {
  /* box-sizing: border-box; */
}

.nav-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.nav-bar .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
}

.nav-bar .title img {
  width: 30px;
}

.nav-bar .nav-items {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  flex-grow: 1;
}

.list-bg {
  background-color: rgb(249, 250, 255);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  overflow: scroll;
}

.list-item {
  max-height: 140px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-item .author {
  font-size: 14px;
  color: #555555;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.list-item p {
  color: grey;
  margin: 5px 0px;
  margin-top: 12px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.list-item .list-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.list-item .list-item-title a h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-item .list-item-title .button-pannel {
  display: flex;
  opacity: 1;
  transition: all 1s;
}

.date {
  font-size: 14px;
  color: grey;
}

.icon-pencil,
.icon-trash,
.icon-write {
  width: 28px;
  margin-right: 4px;
  cursor: pointer;
}

.form-container {
  width: 400px;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.form-container .header {
  font-size: 36px;
}

.form-container form input,
textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.form-container .check-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.form-container .check-email input {
  width: fit-content;
  flex-grow: 1;
}
.form-container .check-email button {
  margin-bottom: 8px;
}

.form-container form textarea {
  height: 300px;
  resize: none;
}

.form-container button {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.footer {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 42, 42);
  color: #f3f3f3;
}

.footer a {
  text-decoration: underline;
  color: #d6d6d6;
}

.modal-container {
  width: 100%;
  max-height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.nav-buttons .nav-button {
  width: fit-content;
  padding: 4px 8px;
  background-color: #41b77b;
  border: 1px solid #41b77b;
  color: white;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  cursor: pointer;
}
.nav-buttons .nav-button:hover {
  background-color: #ffffff;
  color: #41b77b;
}
.nav-button.white {
  background-color: white;
  color: #41b77b;
}

/* detail page  */
.detail-page {
  padding: 0 40px 20px 40px;
  background-color: rgb(238, 238, 238);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 10%;
  gap: 8px;
}
.detail-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-page .detail-content {
  flex-grow: 1;
  overflow: scroll;
  white-space: break-spaces;
  border-radius: 8px;
  background-color: white;
}

.detail-page .detail-content div {
  padding: 20px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

/* CommentList 컴포넌트 */
.comment-list {
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e3e3e3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-comment {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.new-comment input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.new-comment button {
  width: fit-content;
  padding: 8px 12px;
  background-color: #41b77b;
  border: 1px solid #41b77b;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.new-comment button:hover {
  background-color: #41b77ab7;
  color: #fff;
}

.comments {
  overflow: scroll;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.comments .comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments .comment .writer {
  width: 100px;
  min-width: fit-content;
}
.comments .comment .text {
  flex-grow: 1;
}

.like-button {
  background-color: white;
  border: none;
  padding: 4px 8px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.like-button:hover {
  border: 1px solid rgb(255, 99, 99);
  background-color: rgb(255, 218, 218);
  color: black;
}

.selected {
  background-color: rgb(255, 99, 99);
  color: white;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.list-bg.my-page {
  background-color: #e5e5e5b7;
}

.list-bg.my-page .nav-buttons {
  justify-content: end;
  margin-top: 8px;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  aspect-ratio: 1;
  --_c: radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}
